.overlay {
	background: rgba(0, 0, 0, 0.75);
	@apply fixed top-0 left-0 w-full h-full z-40;
	@apply flex items-center justify-center;
}

.dialog {
	width: min(90vw, 500px);
	@apply rounded p-6 bg-white z-50;

	& .header {
		@apply flex items-center justify-between mb-4 pb-4;
		border-bottom: 1px solid #eee;

		& h4 {
			@apply text-base md:text-lg font-semibold;
		}

		& button {
			@apply text-gray-500 text-2xl font-thin hover:text-gray-900 cursor-pointer;
		}
	}
}